body{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding:0px;
    margin:0px;
    height: 100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
}
.gameboard-field{
    border: 1px solid black;
    height:120px;
    width: 120px;
    display:flex;
    justify-content: center;
    text-align: center;
    font-size: 100px;
}
.gameboard{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}
.main-container{
    width:70vw;
    display:flex;
    align-items: center;
    justify-content:space-between;
}
.scorecard{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
}
.points{
    height: 50px
}
img{
    height: 10em
}
.disable-clicks, 
.full-screen-container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}
.disable-clicks{
    top: 220px;
}
.points>img{
    width: 50px;
}
.full-screen-container{
   background: rgba(90, 90, 90, 0.5);;
}

